html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/***************************** My own styles *********************/
.container{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI";
}

.logo{
    padding: 0;
    margin: 0;
    width:130px;
    height: 30px;
}

.card{
    margin-bottom: 200px;
    padding-bottom: 200px;
}

.panel-body h1{
    font-size: 50px;
    text-align: center;
}

#mapid{
    width:100%;
    height: 400px;
    border: 1px solid black;
}

.color-white{
    color:#DDD;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.dcl_logo{
    width: 30px;
    height: 30px;
}

.trainee_img{
    width: 30%;
    height: 30%;
    margin-bottom: 10px;
}

span.file-upload-instructions{
    color: red;
    font-size: 10px;
}

.welcome-text{
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
}

/*
#state-trainee-report div.image{
    width: 60%;
    height: 60%;
    border: 1px solid black;
}
*/
.nigeria_logo{
    padding: 0;
    margin: 0;
    position: relative;
    left: -100px;
    top:-30px;
    width:85px;
    height: 30px;
}

#select_state, #select_lga, #select_ward{
    width: 100%;
}

.wrap .partner-logo{
    width: 100px;
    height: 100px;
}

